<h1>About Me</h1>

<hr>

<div class ="row">
  <div class="col-md-4">
    <%= image_tag "MeRDergun.jpg", width: 300, alt: "I'm secretly a dergun" %>
  </div>
  
  <div class="col-md-8">
  <p>In the beginning, the earth was without form ... and then some things happened. Then, Jackson Green was born.</p>
  <p>This new arrival to earth was born and raised in the Wasatch Front/Salt Lake City area of Utah. Over the years, he increased in knowledge and stature, gaining certifications in Adobe Premiere, Flash, Illustrator and Photoshop, and graduating from Viewmont High School in 2017.</p>
  <p>Along the way, and with the help of a couple friends, Jackson launched the YouTube-based project Brain Vacation Animation, or BVA for short. Jackson continues to maintain the channel to this day, working alongside the great composer Nathan Ashby to grow the channel and put out animated short films for the world to enjoy.</p>
  <p>Today, one can find Jackson in a number of places: </p>
  <p>...holed-up in his basement, working on the latest video or on his 3D workflow skills; </p> 
  <p>...a coding class at Bountiful High School, learning web development with the use of Ruby-on-Rails, Javascript, Html and CSS; </p> 
  <p>...or spending time with friends and family.</p>
  </div>
</div>