<h1>Contact the man himself.</h1>

<p><%= number_to_phone "8018675309" %></p>

<p><%= number_to_currency "15020471389" %></p>

<p><%= number_to_percentage "80.4" %> </p>

<p><%= number_with_delimiter "019823470182397" %></p>