<div class="inner cover">
  <h1 class="cover-heading">Welcome!</h1>
  <p class="lead">This is my bona-fide, original, official portfolio site, where you can find animations, websites and whatever other work I think is worth showing to the world. Click the button below or the "portfolio" link above to view my work, or explore the other links for other things. Thanks for coming, and enjoy! </p>
  <p class="lead">
    <%= link_to "My Stuff", portfolios_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


